import React from 'react';
import { Link } from 'gatsby';

import Layout from '../components/Layout';
import Image from '../components/Image';
import SEO from '../components/SEO';

const {{ pascalCase name }}Page = () => (
    <Layout>
        <SEO title="{{ pascalCase name }}" />
        <h1>Title</h1>
        <p>Welcome to your the {{ pascalCase name }} page.</p>
        <Image />
        <Link to="/">Home</Link>
    </Layout>
);

export default {{ pascalCase name }}Page;