import React, { ReactNode } from 'react'

interface {{ pascalCase name }}Props {
    children: ReactNode
}

const {{ pascalCase name }}: React.FC<{{ pascalCase name }}Props> = ({ children }) => {
    return <div>{children}</div>
}

export default {{ pascalCase name }}
