@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$primary: #ffbe3d;
$secondary: #f06543;
$family-sans-serif: 'Montserrat', sans-serif;

$link: $secondary;

@import '~bulma/bulma';

.card {
    overflow: hidden;
    border-radius: 16px;
}
